/* This is a CSS override! It overrides default values for ALL elements. */
/* I highly recommend keeping this override in your code. */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(0, 0, 0);
	padding: 5vh;
	color: white;
}

iframe {
	flex-grow: 4;
	padding: 20px;
	border: solid 10px;
	border-color: white;
	border-style:groove;
}

.albumCovers{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

img{
	width: 250px;
	padding: 10px;
}







@font-face {
	font-family: "Limkin";
	src: url("assets/TMT-LimkinVF.ttf");
}

body {
	font-family: "Limkin", serif;
	font-variation-settings: "wght" 500, "SRFF" 100;
	background: white;
	background-size: 100vw 100vh;
}

.hidden {
	display: none;
}

h1 {
	margin: 20px;
}
h2 {
	margin: 20px;
}
p {
	margin: 20px;
}
ul {
	margin: 20px;
}
li {
	margin: 20px;
}